* {
  margin: 0;
  padding: 0;
}
.color-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.color-container button {
  padding: 10px 14px;
  background-color: seagreen;
  color: white;
  border-radius: 5px;
  border: 0;
  margin: 0 5px;
  cursor: pointer;
}

.color-container button:active {
  transform: scale(0.98);
}
